<!DOCTYPE html>
<html ng-app="restaurantPricing">
  <head>
    <title>Pizza vs Ice Cream: This Time It&rsquo;s Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic|Lato:900|Permanent+Marker" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="controllers/PizzaController.js"></script>
    <script src="services/CashRegisterFactory.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="container">Pizza vs Ice Cream</h1>
      <h2 class="container">This Time It&rsquo;s Personal</h2>
    </div>
    <div class="container">
      <div class="row">
        <div ng-controller="PizzaCtrl">
          <div class="col-md-6">
            <h3>Pizza</h3>
            <p>Slices cost ${{ cost }}</p>
            <p>We only got pepperoni. How many you want?</p>
            <p>Number of slices: {{ qty }}</p>
            <p><button ng-click="addSlice(); getSliceTotal(); updateGrandTotal()" class="btn btn-success">Add a slice</button> <button ng-click="removeSlice(); getSliceTotal(); updateGrandTotal()" class="btn btn-danger">Remove a slice</button></p>
            <h3>Total for pizza: ${{ total }}</h3>
          </div>
        </div>

        <div ng-controller="IceCreamCtrl">
          <div class="col-md-6">
            <h3>Ice Cream</h3>
            <p>Scoops cost ${{ cost }}</p>
            <p>We only got neapolitan. How many you want?</p>
            <p>Number of scoops: {{ qty }}</p>
            <p><button ng-click="addScoop(); getScoopTotal(); updateGrandTotal()" class="btn btn-success">Add a scoop</button> <button ng-click="removeScoop(); getScoopTotal(); updateGrandTotal()" class="btn btn-danger">Remove a scoop</button></p>
            <h3>Total for ice cream: ${{ total }}</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
