<!DOCTYPE html>
<html ng-app="restaurantPricing">
  <head>
    <title>Pizza vs Ice Cream: This Time It&rsquo;s Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic|Lato:900|Permanent+Marker" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="controllers/PizzaController.js"></script>
    <script src="services/CashRegisterFactory.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="container">Pizza vs Ice Cream</h1>
      <h2 class="container">This Time It&rsquo;s Personal</h2>
    </div>
    <div class="container">
      <div class="row">
        <div ng-controller="PizzaCtrl">
          <div class="col-md-6">
            <h3>Pizza</h3>
            <p>Slices cost ${{ CashRegisterFactory.pizzaCost }}</p>
            <p>We only got pepperoni. How many you want?</p>
            <p>Number of slices: {{ CashRegisterFactory.slices }}</p>
            <p><a ng-click="CashRegisterFactory.addSlice()">Add a slice</a> | <a ng-click="CashRegisterFactory.removeSlice()">Remove a slice</a></p>
            <p>Total for pizza: ${{ CashRegisterFactory.pizzaTotal }}</p>
          </div>
        </div>

        <div ng-controller="IceCreamCtrl">
          <div class="col-md-6">
            <h3>Ice Cream</h3>
            <p>Scoops cost ${{ CashRegisterFactory.iceCreamCost }}</p>
            <p>We only got neapolitan. How many you want?</p>
            <p>Number of scoops: {{ CashRegisterFactory.scoops }}</p>
            <p><a ng-click="CashRegisterFactory.addScoop()">Add a scoop</a> | <a ng-click="CashRegisterFactory.removeScoop()">Remove a scoop</a></p>
            <p>Total for ice cream: ${{ CashRegisterFactory.iceCreamTotal }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Grand total: $</h3>
        </div>
      </div>
    </div>
  </body>
</html>
